<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title></title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="preconnect" href="/" crossorigin>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a class="/">Eleventy Base Template</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
